{% extends 'resident/base.html' %}
{% load staticfiles %}

{% block main %}

<div class="row">
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Lista de últimas visitas
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                            <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>Nombre visita</th>
                            <th>Rut</th>
                            <th>Fecha - Hora</th>
                            <th>Recibido</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in records%}
                            <tr>
                                <td>{{ record.name }}</td>
                                <td>{{ record.rut }}</td>
                                <td>{{ record.date }}</td>
                                {% if record.received == True %}
                                    <td><i class="fa fa-check fa-fw"></i>Si</td>
                                {% else %}
                                    <td><i class="fa fa-times  fa-fw"></i>No</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel-footer">
                Revisa el <a href="/visit_record/">historial de visita</a> para más detalles.
            </div>
        </div>
        <div class="chat-panel panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-comments fa-fw"></i> Últimas publicaciones
            </div>
            <div class="panel-body">
                <ul class="timeline">
                    {% for publication in publications %}
                 {% if publication.id|divisibleby:2 %}
                                            <li class="timeline-inverted">
                                        {% else %}
                                            <li>
                                        {% endif %}
                                        {% if publication.type == '1' %}
                                            <div class="timeline-badge warning">
                                            <i class="fa fa-calendar-o "></i>
                                        {% elif publication.type == '2' %}
                                            <div class="timeline-badge info">
                                            <i class="fa fa-group"></i>
                                        {% elif publication.type == '3' %}
                                            <div class="timeline-badge danger">
                                            <i class="fa fa-bomb"></i>
                                        {% elif publication.type == '4' %}
                                            <div class="timeline-badge success">
                                            <i class="fa fa-bullhorn"></i>
                                        {% elif publication.type == '5' %}
                                            <div class="timeline-badge">
                                            <i class="fa fa-info"></i>
                                        {% else %}
                                            <div class="timeline-badge">
                                            <i class="fa fa-info"></i>
                                        {% endif %}
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">{{ publication.title }}</h4>
                                                <p><small class="text-muted">
                                                    <i class="fa fa-clock-o"></i>
                                                    {{ publication.date }} {{ publication.hour }} <br>
                                                    Publicado por {{ publication.publisher.first_name }} {{ publication.publisher.last_name }}
                                                </small>
                                                </p>
                                            </div>
                                            <div class="timeline-body">
                                                <p>{{ publication.message }}</p>
                                            </div>
                                        </div>
                                    </li>
                    {% endfor %}
                </ul>
            </div>
             <div class="panel-footer">
                Revisa el <a href="/publications_wall/">muro de mensajes</a> para ver el resto de las publicaciones.
            </div><!-- /.panel-footer -->
        </div>
    </div>
    <div class="col-lg-4">
    <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user fa-fw"></i>Mis datos
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <strong><p>{{ resident.userOrigin.first_name }} {{ resident.userOrigin.last_name }}</p></strong>
                <strong><p>Departamento: {{ resident.apartment.number }}</p></strong>
                <strong><p>Piso: {{ resident.apartment.floor }}</p></strong>
            </div>
            <div class="panel-footer">
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-calendar fa-fw"></i> Úilmas reservas realizadas
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    {% for reservation in reservations %}
                    <a class="list-group-item">
                        <i class="fa fa-user fa-fw"></i> {{ reservation.title }}
                        <span class="pull-right text-muted small"><em>{{ reservation.start }}</em>
                        </span>
                    </a>
                    {% endfor %}
                </div>
                <!-- /.list-group -->
                <a href="/calendar_locations/" class="btn btn-default btn-block">Revisa el calendario completo</a>
            </div>
            <!-- /.panel-body -->
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-calendar fa-fw"></i> Últimos pagos realizados
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    {% for payment in payments %}
                    <a class="list-group-item">
                        <i class="fa fa-credit-card fa-fw"></i> {{ payment.month }}
                        <span class="pull-right text-muted small"><em> {{ payment.amount }}</em>
                        </span>
                    </a>
                    {% endfor %}
                </div>
                <!-- /.list-group -->
                <a href="/pay_list/" class="btn btn-default btn-block">Ver detalle de gastos comunes</a>
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>
{% endblock %}