<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SmartBuild</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "dashboard/bower_components/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static "dashboard/bower_components/metisMenu/dist/metisMenu.min.css" %}" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="{% static "dashboard/dist/css/timeline.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "dashboard/dist/css/sb-admin-2.css" %}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{% static "dashboard/bower_components/morrisjs/morris.css" %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static "dashboard/bower_components/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "dashboard/vendor/datatables-plugins/dataTables.bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "dashboard/vendor/datatables-responsive/dataTables.responsive.css" %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
   
    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="/dashboard/">SmartBuild</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">

                <!-- /.dropdown -->
                <!-- /.dropdown -->

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle"  href="/logout/">
                        Cerrar sesión
                        <i class="fa fa-sign-out fa-fw"></i>
                    </a>

                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        
                        <li>
                            <a href="/visit_record/"><i class="fa fa-list-ul fa-fw"></i> Registro de visitas</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-usd fa-fw"></i> Gastos comunes<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html"><i class="fa fa-money fa-fw"></i>Realizar pago</a>
                                </li>
                                <li>
                                    <a href="morris.html"><i class="fa fa-table  fa-fw"></i>Historial de pagos</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-comments-o fa-fw"></i> Muro de mensajes<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/publish/"><i class="fa  fa-pencil fa-fw"></i>Realizar publicación</a>
                                </li>
                                <li>
                                    <a href="/publications_wall/"><i class="fa fa-comment-o  fa-fw"></i>Panel de publicaciones</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-building-o fa-fw"></i> Espacios compartidos <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/create_event/"><i class="fa  fa-pencil fa-fw"></i>Realizar reserva</a>
                                </li>
                                <li>
                                    <a href="/calendar_locations/"><i class="fa  fa-calendar  fa-fw"></i>Ver reservas</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">SmartBuild</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            {% block main %}
            {% endblock%}
            <!-- /.row -->
            
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->

    <script src="{% static "dashboard/bower_components/jquery/dist/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "dashboard/bower_components/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "dashboard/bower_components/bootstrap/dist/js/bootstrap.js" %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static "dashboard/bower_components/metisMenu/dist/metisMenu.min.js" %}" ></script>

    <!-- Morris Charts JavaScript -->
    <script src="{% static "dashboard/bower_components/raphael/raphael-min.js" %}"></script>


    <!-- Custom Theme JavaScript -->
    <script src="{% static "dashboard/dist/js/sb-admin-2.js" %}"></script>
     <script src="{% static "dashboard/vendor/datatables/js/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "dashboard/vendor/datatables-plugins/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "dashboard/vendor/datatables-responsive/dataTables.responsive.js" %}"></script>
    <script>src</script>
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>

</body>  

</html>
