<!DOCTYPE HTML>
<html>
	<head>
		<title>SmartBuild</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<!--[if lte IE 8]><script src="static/home/assets/js/ie/html5shiv.js"></script><![endif]-->

		<link rel="stylesheet" href="static/home/assets/css/main.css" />
		
		<!--[if lte IE 8]><link rel="stylesheet" href="/home/assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">
				<header id="header" class="alt">
					<h1><a href="index.html">SmartBuild</a> tu edificio en linea.</h1>
					<nav id="nav">
						<ul class="actions">
							<li>
								<a href="/register/" class="button special">Regístrate</a>
							</li>
							<li>
								<a href="/login/" class="button special">Inicia sesión</a>
							</li>
						</ul>
					</nav>
				</header>
			<!-- Banner -->
				<section id="banner">
					<h2><img src="static/logo.png" alt="" /></h2>
					<p>El siguiente nivel de los espacios compartidos</p>
				</section>
			<!-- Main -->
				<section id="main" class="container">
					<section class="box special">
						<header class="major">
							<h2>¿Que es SmartBuild?<br/></h2>
							<p>Es una plataforma que brinda a la comunidad de residentes fácil acceso a la información más relevante dentro de la comunidad como también de sus casos particulares dentro del inmueble, y con esto poder llegar a un servicio que solucione de manera eficiente los problemas de comunicación y apoyar las medidas de seguridad.</p>
						</header>
						<span class="image featured">
							<img src="static/home/images/pic01.jpg" alt="" />
						</span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="image fit">
									<img src="static/home/images/pic04.jpg">
								</span>
								<h3>Conserjería online</h3>
								<p>	
								<ul class="alt">							
								<li>Listado de visitas históricas según rol del usuario (conserje o residente).</li>
								<li>Respaldo periodico del historial de visitas.</li>
								<li>Notificaciún de visitas no atendidas.</li>
								<li>Alta usabilidad del formulario de registros y uso en general para el conserje.</li>			</ul>				
								</p>
							</section>
							<section>
								<span class="image fit">
									<img src="static/home/images/pic02.jpg">
								</span>
								<h3>Gastos comunes</h3>
								<p>
								<ul class="alt">	
								<li>Pago online.</li>
								<li>Registro de pagos para el encargado.</li>
								<li>Notificación a morosos.</li>
								<li>Notificación de previa a fecha de pago.</li>
								<li>Generación de planillas de gastos para descargas de los (Excel).</li>
								</p>
								</ul>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="image fit">
									<img src="static/home/images/pic03.jpg">
								</span>
								<h3>Muro de mensajes</h3>
								<p>
								<ul class="alt">	
									<li>Publicación de eventos.</li>
									<li>Publicación masiva de mensajes relevantes a la comunidad.</li>
									</ul>								
								</p>
							</section>
							<section>
								<span class="image fit">
									<img src="static/home/images/pic05.jpg">
								</span>
								<h3>Espacios compartidos</h3>
								<p>
								<ul class="alt">	
								<li>Ver listado de reservas disponibles.</li>
								<li>Realizar reserva.</li>
								</ul>
								</p>
							</section>
						</div>
					</section>

					<section class="box special">
						<header class="major">
							<h2>¿Por qué preferir a Lo Traigo?<br /></h2>
							<p>La confianza y un precio justo es la clave para que nuestra comunidad funcione.</p>
						</header>
						<span class="image featured">
							<img src="static/home/images/pic06.jpg" alt="" />
						</span>
						<section class="box special features">
							<div class="features-row">
							<section>
								<h3>Comunicación entre usuarios</h3>
								<p>Comunicate con tus vecinos y evita inconvenientes. Crea una mejor comunidad gracias a SmartBuild
								</p>
							</section>
							<section>
								<h3>Seguridad</h3>
								<p>Ante cualquier eventualidad ten un registro historico de los ingresos al inmueble</p>
							</section>
						</div>
													<div class="features-row">
							<section>
								<h3>Cuentas claras</h3>
								<p>
								</p>
							</section>
							<section>
								<h3>Los espacios son para todos</h3>
								<p>
									
								</p>
							</section>
						</div>
						</section>
					</section>

				</section>

			<!-- CTA -->
				<section id="cta">

					<h2>Comienza con SmartBuild</h2>
					<p>Coordina con los encargados de tu edificio y dale un beneficio a tu comunidad</p>
					<form>
						<div >
							<div>
								<input type="submit" value="Crear cuenta" class="fit" />
							</div>
						</div>
					</form>

				</section>

			<!-- Footer -->
				<footer id="footer">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; SmartBuild, Inc.</li>
						<li> +56999966387</li>
						<li>sb@smartbuild.cl</li>
					</ul>
				</footer>

		</div>

		<!-- Scripts -->

			<script src="static/home/assets/js/jquery.min.js"></script>
			<script src="static/home/assets/js/jquery.dropotron.min.js"></script>
			<script src="static/home/assets/js/jquery.scrollgress.min.js"></script>
			<script src="static/home/assets/js/skel.min.js"></script>
			<script src="static/home/assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/home/js/ie/respond.min.js"></script><![endif]-->
			<script src="static/home/assets/js/main.js"></script>

	</body>
</html>